.navbar {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding: 0 20px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 3;

  > div {
    display: flex;
    gap: 2em;
  }

  .logo {
    font-size: 1.8em;
    font-weight: 700;
    color: #333;
    text-decoration: none;
  }
}