:host {
  display: block;
  width: 100%;
}

.greeting {
  text-align: center;
  margin-block: 25px;
}

.expense-actions {
  display: flex;
  gap: 0.4em;
  justify-content: end;
}

.btn-add-expense {
  background-color: #27ff88;
}

.btn-pay-owed {
  background-color: #ffd343;
}

.expense-container {
  
}
