:host {
  width: 100%;
}

.greeting {
  text-align: center;
  margin-block: 25px;
}

.expense-actions {
  display: flex;
  gap: 0.4em;
  justify-content: end;
}

.btn-add-expense {
  background-color: #27ff88;
}

.btn-pay-owed {
  background-color: #ffd343;
}

.expense-container {
  
}

.background-panel {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-height: 100vh;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  margin-block: 20px;
  margin-inline: auto;
}
