:host {
  display: block;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-container {
  width: 50%;
  margin-inline: auto;
  flex-direction: column;
  text-align: center;
}

.form-container {
  width: 50%;
  margin-inline: auto;
}

.submit-btn {
  margin-top: 1em;
  width: 100%;
}

.tab-container {
  width: 50%;
  display: flex;
  text-align: center;
  
  & > * {
    flex: 1;
  }
}