<header>
  <p class="main-title">Paragon Master</p>
  <h4>Utwórz podliczenie poprzez dodanie produktów oraz przydział osób</h4>
</header>

<main>
  <div>
    <app-add-product-form (productAdded)="onProductAdded($event)"/>
    <app-person-list/>
  </div>

  <app-product-list
    [products]="products"
    [persons]="persons"
    (productCheckboxChanged)="onCheckboxProductChanged($event)"
    (productRemoved)="onProductRemoved($event)"
    class="table-container paper">
  </app-product-list>
</main>


