/* You can add global styles to this file, and also import other style files */
$primary-color: #4a7afd;
$white-color: #f5f5f5;

* {
  font-family: 'Roboto';
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 18px;

  p {
    font-size: 1rem;
  }
}

.btn-outlined {
  border: 1px solid $primary-color;
  background: none;
  color: $primary-color;
  transition: 0.1s;

  &:hover {
    background-color: $primary-color;
    color: white;
  }
}

.primary-bg {
  background-color: $primary-color;
  color: white;
}

button {
  font-family: 'Roboto';
  padding: 0.3em;
  font-size: 1.1rem;
}

.btn {
  border: none;
  border-radius: 3px;
  padding: 0.5em 1em;
  font-size: 1.2em;
  font-weight: 500;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    opacity: 0.8;
  }
}

.btn-primary {
  background-color: #60befd;
}

code {
  font-family: 'Iosevka Extended'
}

input {
  font-family: 'Roboto';
  padding: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: 0.3s;
  font-size: 1.1em;

  &:focus {
    outline: none;
    border-color: $primary-color;
  }
}

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  width: 100%;
  max-width: 20vw;
}

.tab {
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  margin-top: 0;

  cursor: pointer;

  &:hover {
    border-bottom-color: $primary-color;
  }

  &.active {
    border-bottom-color: $primary-color;
  }
}

.d-none {
  display: none;
}

dialog {
  border: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  animation: show 0.4s ease normal;
  padding-block: 1.5em;
  padding-inline: 3em;

  .dialog-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 1em;
    gap: 1em;
  }
}

.text-white {
  color: $white-color;
}

@keyframes show {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.select-block {
  aspect-ratio: 1/1;

  span {
    display: block;
    font-size: 3rem;
    margin-bottom: 0.5rem;
  }
}
